{% extends 'reviews/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <h1> Book Details</h1>
    <li class="list-group-item">
        <span class="text-info">Title: </span> <span>{{ selected_book.title }}</span><br>
        <span class="text-info">Publisher: </span> <span>{{ selected_book.publisher }}</span><br>
        <span class="text-info">Publication Date: </span> <span>{{ selected_book.publication_date }}</span><br>
        <span class="text-info">Overal Rating: </span> <span>{{ rating }}</span><br>
        <br>
    </li>
    <hr>
    <h3> Review Comments</h3>
    <ul>
    {% for review in reviews %}
           <li class="list-group-item">
            <span class="text-info">Comment: </span> <span>{{ review.content }}</span><br>
            <span class="text-info">Comment: </span> <span>{{ review.date_created }}</span><br>
            <span class="text-info">Comment: </span> <span>{{ review.date_edited }}</span><br>
            <span class="text-info">Comment: </span> <span>{{ review.rating }}</span><br>
            <span class="text-info">Comment: </span> <span>{{ review.creator }}</span><br>
            <a href="{% url "review_edit" selected_book.pk review.pk %}">Edit Review</a>
        {% endfor %}

    <form action="{% url "review_edit" selected_book.pk %}">
        <input type="submit" class="btn btn-primary" value="Add Review">
    </form>



{% endblock %}
</body>
<br>
</html>