{% extends 'base.html' %}

<title>{% block title %}Bookr{% endblock %}</title>
{% block content %}
    <h2>Search for Books</h2>
    <form>
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <h3>Search results for <em>{{ search_text }}</em></h3>
    <ul class="list-group"></ul>
    {% for book in result %}
        <ul class="list-group"> Results
            <li class="list-group-item">
                <span class="text-info">Title: </span> <a href="{% url 'book_details' book.pk %}">{{ book }}</a>
                <br/>
                <span class="text-info">Contributors: </span>
                {% for contributor in book.contributor.all %}
                    {{ contributor.first_names }} {{ contributor.last_names }}{% if not forloop.last %}, {% endif %}
                {% endfor %}

            </li>
            {% empty %}
            <li class="list-group-item">No results found.</li>
        </ul>
    {% endfor %}






{% endblock %}
